*{
    margin:auto 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;


}

body{
    background-color: yellow;
}


.topnav input[type=text] {
    width: 40%;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    border: none;
    font-size: 17px;
}
.search-box{
    width: 45%;
    display: flex;
}

.search-box img{
padding-top: 5px    ;
height: 35px;
width: 35px;
}

.topnav {
    
    display: flex;
    align-items: center;
}

ul{
    flex: 1;
    text-align: right;

}

ul li{
    display: inline-block;
    list-style: none;
    margin: 0 20px;
    margin-top: 20px;
}

ul li a{
    text-decoration: none;
    color: #000;
    padding: 0 10px;
    position: relative;
}

ul li a::after{
    content: '';
    width: 0%;
    height: 10px;
    background: red;
    position: absolute;
    left: 1px;
    transform:translateX(-1px);
    top: -20px;
    transition: 0.5s;
}

ul li a:hover::after{
    width: 100%;
}



.headerTime{
    background-image: url(Bilder/color-2174065.png);
    height: 200px;
    
}

.heading{
    padding-top: 15px;
    text-align: center;
}

.description{
    margin-top: 10px;
}

.navigation{
    padding-top: 10px;
    display: flex;
    justify-content: space-around;

}


.left-loggo{
    margin-bottom: -85px;
    margin-left: 60px;
    margin-top: -85px;
}


.headerLogga{
    width: 150px;
    height: 150px;   
    
}




button{
    border-radius: 10px;
    background-image:radial-gradient(yellow, gold);
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 20px 10px;
    transition-duration: 0.4s;
    cursor: pointer;
    
}

aside{
    display: flex;
    justify-content: center;
    
}
.splide{
    display: flex;
    justify-content: center;
    width: 30%;
    height: 200px;
    overflow: hidden;
}

h2{
    text-align: center;
}
.speldisplay{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    
}
.grid-container {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: auto auto auto auto;
    background-color: red;
    
    padding: 10px;
  }
  
  .grid-item {
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }


.ticTacToeBild{
    height: 200px;
    width: 200px;
}

.frågetekenBild{
    height: 200px;
    width: 200px;
}

.rockBild{
    height: 200px;
    width: 200px;
}


.underRubrik, .underRubrik2{
    padding-top: 30px;
    padding-bottom: 20px;
}

.footer{
    width: 100%;
    margin:auto;
    margin-top: 100px;
    padding-top: 10px;
    padding-bottom: 30px;
    background-color: red;
    
}




